<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:bean="http://www.springframework.org/schema/security"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security.xsd
            http://www.springframework.org/schema/security ">

    <bean:http entry-point-ref="restAuthenticationEntryPoint">
        <bean:intercept-url pattern="/news/**" method="PUT" access="ROLE_ADMIN"/>
        <bean:intercept-url pattern="/news" method="POST" access="ROLE_ADMIN"/>
        <bean:intercept-url pattern="/news/**" method="DELETE" access="ROLE_ADMIN"/>

        <bean:form-login
                authentication-success-handler-ref="mySuccessHandler"
                authentication-failure-handler-ref="myFailureHandler"/>

        <bean:logout/>
    </bean:http>

    <bean id="mySuccessHandler"
          class="com.epam.security.AuthorizationSuccessHandler"/>
    <bean id="myFailureHandler" class=
            "org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"/>
    <bean id="restAuthenticationEntryPoint" class="com.epam.security.RestAuthenticationEntryPoint"/>

    <bean:authentication-manager alias="authenticationManager">
        <bean:authentication-provider>
            <bean:user-service>
                <bean:user name="admin" password="adminPass" authorities="ROLE_ADMIN"/>
                <bean:user name="user" password="userPass" authorities="ROLE_USER"/>
            </bean:user-service>
        </bean:authentication-provider>
    </bean:authentication-manager>
</beans>